@page "/propiedades"

@inject HttpClient Http

<PageTitle>Propiedades</PageTitle>

<h1>Propiedades</h1>

@if (properties == null)
{
    <p><em>Cargando...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Alquiler</th>
                <th>Ambientes</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var property in properties)
            {
                <tr>
                    <td>@property.Name</td>
                    <td>@property.Price</td>
                    <td>@property.RentPrice</td>
                    <td>@property.Environments</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private EzRent.Shared.PropertyDto[]? properties;

    protected override async Task OnInitializedAsync()
    {
        properties = await Http.GetFromJsonAsync<EzRent.Shared.PropertyDto[]>("Property");
    }
}
